#abcd {
    
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.temp {
	background: #5cb85c;
	width: 100vw;
	position: absolute;
	left: -100vw;
	overflow: hidden;
}
.temp .arrow{
	position:relative;
	display: block;
	height: 10vw;
	width: 10vw;
	margin:0 auto;
	background: url(Icons/Check.png) center no-repeat;
	background-size: contain;
	top: -20vw;
}

div.butlist {
    width: 100%;
    padding: 5%;
    font-size: 2vh;
    margin-bottom: 1%;
	color:grey;
    }
br.butlist {
    width: 100%;
    padding:0;
    font-size: 2em;
    margin:0;
	color:grey;
    }
.butlist img {
    float: left;
    height: 15vw;
    margin-right: 30px;
    border-radius: 15vw;
}

div.butlist,
button { 
    border:none; 
    background-color: whitesmoke;
}

#mealsDiv {
    margin-bottom: 125px;
    height: auto;
    min-height: 300px;
}

<<<<<<< HEAD
#mealsDiv .butlist {
	text-align:left;
}

=======
>>>>>>> gh-pages
#chartdiv {
    width: 100vw;
    height: 35vh;
	margin-top:10vh;
}
#chartdiv svg {
    height: 100%;
    width: 100%;
}
<<<<<<< HEAD

#text_message {
    color: grey;
    font-size: 60px;
}

=======

#text_message {
    color: grey;
    font-size: 60px;
}

>>>>>>> gh-pages
#days {
    font-size: 60px;
    margin-left: 3vw;
}
#days span{
    text-align:center;
    min-width: 11.9vw;
    display: inline-block;
}

.morris-hover .morris-hover-point,
.morris-hover .morris-hover-row-label {
    font-size: 60px;
}
.morris-hover.morris-default-style {
    display:none !important;
}
